.wrapper {
    min-height: 100vh;
    background-color: rgba($color: rgb(231, 243, 198), $alpha: 1.0);
    background-image: url('https://thuthuatphanmem.vn/uploads/2018/08/21/hinh-nen-powerpoint-don-gian-dep-14_045405801.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}